body {
    background-color: BLACK;
    color: #333; 
    font-family: Arial, sans-serif; 
}

header {
    text-align: center; 
}
iframe{
    margin: auto;
    display: flex;
    justify-content: center;
}

h1 {
    font-size: 36px; 
}

p {
    font-style: italic; 
}

section {
    margin: 20px;

}
ul{
    color: green;
}
