  body {
    width: 95%;
    margin: 0 auto;
    font-family:Verdana, Geneva, Tahoma, sans-serif
  }

  section.projecten {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  div.project {
    flex-direction: column;
    flex-basis: 50px;
  }

  p.logo {
    width: 50px;
  }

  p.logo img {
    width: 100px
  }

  p.language {
    background-color:red ;
  }

  p.title {
    background-color: blue;
  }
  
  p.description{
    background-color: yellow;
  }